
<div class="main-navbar-action__btn nav-dropdown">
    <a class="dropdown-link" data-target="cartmenu">
        <span class="cart-badge" id="shopcart">0</span>
        <i class="icon-shopping-bag"></i>
    </a>
</div>