@model SmartStore.Models.CheckEmailViewModel

@{
    ViewBag.Title = "CheckEmail";
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="container header-mt">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb custom-breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Check Email</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="main-content pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 mx-auto">
                <div class="custom-form custom-form--box">
                    <h3 class="custom-form__title">Email</h3>
                    @using (Html.BeginForm("CheckEmail", "Account", FormMethod.Post, new { @class = "form-group custom-form__input", role = "form" }))
                    {
                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "err err-number" })
                        <div class="form-group custom-form__input">
                            @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                        </div>

                        <div class="forgot-pass">
                            <a href="resetpass.html">
                                <small> </small>
                            </a>
                        </div>
                        <div class="custom-form__btn">
                            <input type="submit" class="btn submit-btn" value="Check" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

