@model IEnumerable<SmartStore.Model.Entities.Product>


<ul>
    @foreach (var item in Model)
    {
        var price = item.ProductPrice - item.ProductPrice * item.ProductDiscountPercent / 100;
        <li class="product-media">
            <div class="media">
                <a class="product-media__img" href="#">
                    <img src="~/Images/Product/@item.ProductImg" alt="" width="50" height="50">
                </a>
                <div class="media-body product-media__body">
                    <div class="title">
                        <a href="#">@item.ProductName</a>
                    </div>
                    <div class="price">
                        <span>€@price</span>
                        <span class="old">€@item.ProductPrice</span>
                    </div>
                    <div class="rating">
                        <div class="product-rate">
                            <div class="product-rate__star">
                                <span class="rate-4"></span>
                            </div>
                            @*<div class="rate-number">
                                (4)
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>